Crud operation/server/node_modules/
Crud operation/server/package-lock.json

Crud operation/client/assignment_app/node_modules/
Crud operation/client/assignment_app/package-lock.json

Crud operation/server/routers/RoughWork/
Crud operation/server/utils/RoughWork/
Crud operation/.idea/
